/* #Main Menu */
.main-navigation .menu > li > a {
	color: $invert_accent_color_1;
}
.main-navigation .menu > li > a:hover,
.main-navigation .menu > li.menu-hover > a,
.main-navigation .menu > li.current_page_item > a,
.main-navigation .menu > li.current_page_ancestor > a,
.main-navigation .menu > li.current-menu-item > a,
.main-navigation .menu > li.current-menu-ancestor > a {
	color: $invert_accent_color_1;
}

.main-navigation .menu > li > a:hover:after,
.main-navigation .menu > li.menu-hover > a:after,
.main-navigation .menu > li.current_page_item > a:after,
.main-navigation .menu > li.current_page_ancestor > a:after,
.main-navigation .menu > li.current-menu-item > a:after,
.main-navigation .menu > li.current-menu-ancestor > a:after {
	opacity: 1;
}
.main-navigation .sub-menu {
	background: #0d0d0d;
}
.main-navigation ul ul a {
	color: $regular_text_color;
}
.main-navigation .sub-menu > li > a:hover,
.main-navigation .sub-menu > li.menu-hover > a,
.main-navigation .sub-menu > li.current_page_item > a,
.main-navigation .sub-menu > li.current_page_ancestor > a,
.main-navigation .sub-menu > li.current-menu-item > a,
.main-navigation .sub-menu > li.current-menu-ancestor > a {
	color: $invert_accent_color_1;
}
.menu-item__desc {
	color: $regular_text_color;
}
.main-navigation .menu > li::after {
	color: $invert_accent_color_1;
}
.site-header .search-form[data-toggle=true] .search-form__submit:hover {
	color: $regular_accent_color_1;
}
.main-navigation .sub-menu li.menu-item-has-children::after {
	color: $invert_accent_color_1;
}
.menu-toggle {
	color: $invert_accent_color_1;
}
.menu-toggle:hover {
	color: #101010;
}

/* #Footer Menu */
.footer-menu__items li.current-menu-item a,
.footer-menu__items li.current_page_item a {
	color: $regular_text_color;
}
